<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/css/main.css">
  <title>TV MAZE</title>
</head>

<body>
  <main>
    <h1 class="mainTitle">TV MAZE</h1>
    <div>
      {{{body}}}
    </div>
  </main>
  <footer>
    <p>Name: Siddharth Gulati</p>
    <p>CWID: 10468179</p>
  </footer>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="/public/js/main.js"></script>
</body>

</html>