<header>
  <h1>The Whole Palindrome Checker</h1>
</header>
<main>
  <form id="palindrome-form" name="palindrome-form">
    <label for="phrase">Enter phrase to check if it is a palindrome</label>
    <br />
    <textarea name="phrase" id="phrase" cols="30" rows="2"></textarea>
    <br />
    <button type="submit">Check Palindrome</button>
  </form>
  <div class="error" id="error">
  </div>
  <ol id="attempts"></ol>
</main>
<aside>
  <h4 class="text1">racecar</h4>
  <h4 class="text2">tenet</h4>
  <h4 class="text3">I did, did I?</h4>
  <h4 class="text4">Was it a cat I saw?</h4>
  <h4 class="text5">Madam, I'm Adam</h4>
</aside>
<footer>
  <p>Name: Siddharth Gulati</p>
  <p>CWID: 10468179</p>
  <p>A web page to allow users to check if a phrase is a palindrome. All checks
    are done using client side JavaScript</p>
</footer>