<form id="searchForm">
    <label for="search_term">Search for a movie</label>
    <br>
    <input type="text" name="search_term" id="search_term">
    <br>
    <label id="error"></label>
    <br>
    <input type="submit" name="btn1" id="btn1">
</form>
<a class="ce" href="/" id="homeLink">Back to All Shows</a>
<ul class="showList" id="showList">
    {{#each showList}}
    {{/each}}
</ul>

<div id="show">
</div>
