<h1>Character Finder</h1>
<p>Welcome to the world's greatest comics website! The Marvel Comics website is
  a tool to help see data from the 70-plus years of the Marvel age of comics.</p>
<form action="/search" method="POST">
  <label for="searchTerm">
    Search Character
    <input id="searchTerm" name="searchTerm" type="text" />
  </label>
  <button type="submit">Search</button>
</form>